@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: sans-serif;
    background-color: beige;
}

main {
    padding: 16px;
    position: relative;
}

footer {
    padding: 24px 0;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px;
    border-style: dashed;
    padding: 16px;
}
