@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #FF5A33;
    padding: 5px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
}

main {
    display: grid;
    padding: 16px;
}

main > h1{
    color: #B4CF66;
}

a {
    color: #B4CF66;
    text-decoration: none;
}

footer {
    background-color: #B4CF66;
    padding: 16px;
    font-size: small;
}

img {
    height: 200px;
}

nav{
    padding: auto;

}

nav a {
    padding: 16px;
    color: white;
}


.my-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);

}
thead{
    grid-row: 1;
    padding-top: 16px;
    padding-bottom: 0;
}

tbody{
    grid-row: 2;
}
.my-table{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
}

.my-table thead th{
    font-weight: bold;
}

.my-table tbody tr:nth-child(odd){
    background-color: #f2f2f2;
}

.my-table td, .my-table th{
    padding: 10px;
}

ol{
    padding: 16px;
}

h2{
    padding-top: 24px;
    padding-left: 2px;
}


/* for the tabs to select details of a recipe */
.tabs{
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}

.tabs:hover, .tabs:focus-within{
    background-color: #f1ecec;
}
