@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.my-grid{
    display: inline-block;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    border-collapse: collapse;
    border-color: solid  black;
    width: 100%;
}
.my-grid th,
.my-grid td{
    padding: 8px;
    text-align: left;
    border: 1px solid black;
}

.my-grid th{
    background-color: beige;
    color: #333;
    text-align: center;
}

header{
    display: inline-flex;
    border: 1px solid black;
    background-color: rgba(219, 197, 197, 0.544) ;
    padding: 1px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.5);
}

body {
    font-family: sans-serif;
    background-color: rgb(246, 240, 240);
}

main {
    padding: 16px;
    position: relative;
}

footer {
    padding: 2px;
    font-size: small;
}

img {
    height: 200px;
}

nav a {
    border-bottom: 1px solid black;
    padding: 1px;
    color: black;
}



/* :hover.change-display{
    display: block;
    border-bottom: 1px;
} */
